
<html>
    <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
    <script>
        
    </script>
    </head>
    <body>
        <div id="champsDisplay">
            {% for c in champions %}
                <h1>{{c["name"]}} {{c["title"]}}</h1>
                <p>{{c["lore"]}}</p>
            {% endfor %}
        </div>
    </body>
  </html>