
<html>
  <head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
  <script>
      
  $(function() {
    $("#species").autocomplete({ source: "/search" });
  });
  </script>
  </head>
  <body>
    <form action="/species">
      <h3>{{message}}</h3>
      <label for="species">Pokemon species name:</label>
      <input id="species" name="name" value="{{species}}">
      <input type="submit">
    </form>
    <div id="main">
        <h2>Pokemon: {{pokemonName}} </h2>
        <h3>
            <ul>
            <li> Species: <a href="/species?name={{ speciesName }}">{{ speciesName }}</a> </li>
            <li> Weight (Kg): {{ weight }} </li>
            <li> Height (m): {{ height }} </li>
            <li> Type{% if type|length >1 %}s{% endif %}:
                <ul>
                {% for t in type %}
                    <li>{{ t }} </li>
                {% endfor %}
                </ul>
            </li>
            </ul>
        </h3>

        <h2>You may also like these other pokemons:</h2>

        {% for sp in pokemons %}
            <h4>
              <li> <a href="/pokemon?name={{ sp }}">{{ sp }} </li>
            </h4>
        {% endfor %}

    </div>
  </body>
</html>
