
<html>
  <head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
  <script>
      
  $(function() {
    $("#species").autocomplete({ source: "/search" });
  });
  </script>

  <title>LoL Tracker</title>

  </head>
  <body>
    <img src="/static/lol.jpg" alt="League of Legends" style="padding-bottom: 10px;">
    <form action="/champs">
      <label for="species">Champion Search:</label>
      <input id="species" name="name" value="{{species}}">
      <input type="submit">
    </form>

    <form action="/recs">
      <label for="recs">Team Comp Finisher: Enter three champions...</label>
      <div>
        <input id="champ1" name="name" value="{{champ1}}">
      </div>
      <div>
        <input id="champ2" name="name" value="{{champ2}}">
      </div>
      <div>  
        <input id="champ3" name="name" value="{{champ3}}">
      </div>
      <input type="submit">
    </form>

    <div id="main">
    </div>
  </body>
</html>
